@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}

    /* tela de login */
.loginScreen{
    z-index: 2;
    background-color: #fff;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginScreen form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginScreen form input[type=text]{
    text-align: center;
    width: 261px;
    height: 54px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-size: 18px;
    outline: none;
}
.loginScreen form input[type=button]{
    width: 109px;
    height: 45px;
    color: #696969;
    margin-top: 15px;
    background: #E7E7E7;
    border-radius: 9px;
    font-size: 18px;
    border: none;
}
.loginScreen form input[type=button]:hover{
    background-color: green;
    cursor: pointer;
    color: white;
}
.loginScreen img{
    position: fixed;
    top: 72px;
    width: 130px;
}
.loginScreen .mensagem{
    position: fixed;
    bottom: 72px;
    font-family: 'Roboto';
}
.loginScreen .carregando {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginScreen .carregando p {
    font-family: 'Roboto';
    font-size: 25px;
    margin-top: 20px;
}

    /* cabecario */
header{
    background-color: #ffffff;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
header img{
    margin: 0px 22px;
}

    /* corpitcho */

main{
    height: 100vh;
    background-color: #e5e5e5;
    padding-top: 110px;
    padding-bottom: 84px;
}
main li{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    padding:8px 10px;
    color: black;
    background-color: #FFF;
    border-radius: 2px;
    margin-bottom: 4px;
}
main li span{
    color: #AAAAAA;
    margin-right: 8px;
}
main li p{
    font-family: 'Roboto';
    font-weight: 400;
}
.message{
    background-color: #FFF;
}

.status {
    background-color: #DCDCDC;
}
.private_message {
    background-color: #FFDEDE;
}
b{
    font-weight: bold;
}
.check{
    font-size: 17px;
    position: absolute;
    right: 0;
    display: none;
}
.selecionado .check{
    display: block;
}
    /* rodape */

footer{
    bottom: 0cm;
    background-color: #ffffff;
    width: 100hw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
footer input,img{
    margin: 0px 22px;
}
footer input[type=text]::placeholder{
    color: #000000;
    font-style: italic;
}
footer input[type=text]{
    width: 100%;
    height: 30px;    
    font-size: 18px;
    border:none;
    outline: none;
}

    /* Barra Lateral */
nav{
    z-index: 3;
    font-family: 'Roboto';
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #fff;
    transition: 0.5s linear;
}

nav h2{
    width: 260px;
    padding: 23px 45px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
nav li ion-icon{
    margin-left: 10px;
    margin-right: 7px;
    font-size: 25px;
    margin-bottom: 10px;
}
nav li{
    display: flex;
    margin-bottom: 5px;
}
nav li p{
    margin-top: 6px;
}



    /* Outras Classes */

.escurecido{
    position:fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s linear;
    cursor: pointer;  
}
.hide{
    display: none;
}



